body {
    background-color: rgb(96, 172, 196)
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background-size: cover;
    height: 640px;
    align-content: flex-start;
    position: relative;
}

#console-image{
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.console {
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.console a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: inherit;
}
.console img {
    width: 100%;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
}
